fastapi
uvicorn[standard]

sqlalchemy
pymysql

python-dotenv

python-jose
passlib
bcrypt

python-multipart

pydantic
pydantic[email]

email-validator

cryptography

alembic

requests

httpx

jinja2

itsdangerous
